

body, ul, li, p, a, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}

.logo { font-weight: 500 !important;}
.text-success { color: #59ab6e !important;}
.text-light { color: #cfd6e1 !important;}
.bg { background-color: #212934 !important;}
.btns {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}


#nav_top { min-height: 40px;}
#nav_top * { font-size: .9em !important;}
#main_nav a { color: #212934;}
#main_nav a:hover { color: #69bb7e;}
#main_nav .navbar .nav-icon { margin-right: 20px;}


#cc { background: #efefef !important;}


#cc .cc-indicators li {
  margin-top: -50px;
  background-color: #59ab6e;
}
#cc .cc-control-next i,
#cc .cc-control-prev i {
  color: #59ab6e !important;
  font-size: 2.8em !important;
}

#footer a { color: #dcdde1;}
#footer a:hover { color: #68bb7d;}
#footer ul.footerl li { padding-top: 10px;}
#footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#footer .bl { border-color: #2d343f !important;}

@media (min-width: 768px) {
  #main_nav .navbar-nav {max-width: 450px;}
 }

@media (min-width: 992px) {
  #main_nav .navbar-nav {max-width: 550px;}
  #cc .citem {min-height: 30rem !important;}
}